.App {
  font-family: sans-serif;
  
}

.weather-app-wrap {
  width: 700px;
  margin: 30px auto;
}

.weather-app {
  margin-top: 60px;
  padding: 70px;
  border: 1px solid whitesmoke;
  border-radius: 20px;
}


#city-text-input {
  padding: 20px 25px;
  margin-bottom: 50px;
  font-size: 14px
}

#search-button {
  margin-left: 10px;
  padding: 19px 25px;
  font-size: 15px;
}

.current {
  margin-top: -20px;
}

.current-weather {
  font-size: 50px;
  margin-top: 60px;
}

#city {
  font-size: 35px;
  color: black;
  margin: 30px 2px 20px;
}

#date {
  font-size: 25px;
  color: black;
  margin-left: -40px;
}

#time {
  font-size: 25px;
  color: black;
  margin-left: -40px;
  margin-top: 10px;
}

li {
  list-style-type: none;
}

.humidity-wind {
  margin-top: -70px;
  margin-left: 60px;
  font-size: 20px;
  text-align: right;
}

.forecast-list {
  margin-top: 80px;
  display: flex;
}

.forecast-day {
  font-size: 15px;
}

.forecast-icon {
  text-align: center;
}

.forecast-temp {
  font-size: 15px;
}

footer {
  margin: -20px 380px;
}